.plan {
  h3 {
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-family: 'Ruda', sans-serif;
    font-size: 2rem;
    padding: 1rem 2rem;
    letter-spacing: 0.3rem;
    margin: -1rem 0 2rem 0;
  }
}
